
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSTuts</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static\css\style.css">


    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" media="screen and (max-width : 1100px)" href="static\css\phone.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="static\img\logo.png" alt="">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#bodycardd">Info</a></li>
            <li class="item"><a href="#home">About Us</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>

        </ul>

    </nav>

    <section id="home">
        <div class="box" data-aos="fade-in" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
            <h1 class="h-primary">NS Tuts</h1>
        </div>

        <p>NS Tuts is a youtube channel were computer science related videos are uploaded.</p>
        <p>Solutions of almost all the HackerRank question and Machine Learning projects are available on the channel.</p>

    </section>








    <section class="services-countainer">
        <div class="h-primaryd" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
            <h1 class="h-primary">Services</h1>
        </div>
        <div id="bodycardd">
            <div class="bodycard">
                <div class="container">
                    <div class="card" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content">
                                <img src="static\img\python-logo1.jpg" alt="Avatar" style="border-radius: 50%; width:100px;">

                                <h3>Python</h3>
                                <p>Solution videos of python HackerRank questions are available on my youtube channel . Eg: List Comprehension , Nested list ... </p>
                                <a href="https://youtube.com/playlist?list=PLZbCQP58a3y75mQc2kyXHulDhtx41z-wh" target="_blank">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content">
                                <img src="static\img\python-logo1.jpg" alt="Avatar" style="border-radius: 50%; width:100px">


                                <h3>Digit Recognition</h3>
                                <p>Hands-on implementation to Recognize handwritten digits in python using Tensorflow library and Mnist data set.</p>
                                <a href="https://youtube.com/playlist?list=PLZbCQP58a3y66M3lq9lEYlO2oLKHE0wav" target="_blank">Watch</a>
                            </div>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                        <div class="box">
                            <div class="content">
                                <img src="static\img\Cpp_logo.png" alt="Avatar" style="border-radius: 50%; width:100px">


                                <h3>C++</h3>
                                <p>Solution videos of C++ HackerRank questions are available on my youtube channel . Eg: Variable sized array , Templates ... </p>
                                <a href="https://youtube.com/playlist?list=PLZbCQP58a3y75mQc2kyXHulDhtx41z-wh" target="_blank">Watch</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>




    </section>
    <hr>


    <section id="client-section">
        <div class="h-primaryd" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
            <h1 class="h-primary">Languages Covered</h1>
        </div>

        <div id="client">
            <div class="client-item" data-aos="fade-up-left" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                <img src="static\img\python_logo.png" alt="No image found !">
            </div>
            <div class="client-item" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                <img src="static\img\java_logo.png" alt="No image found !">
            </div>
            <div class="client-item" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                <img src="static\img\Cpp_logo.png" alt="No image found !">
            </div>
            <div class="client-item" data-aos="fade-up-right" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
                <img src="static\img\sql_logo.png" alt="No image found !">
            </div>
        </div>
    </section>
    <hr>


    <section id="devloper">
        <div class="h-primaryd" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
            <h1 class="h-primary">Devloper</h1>
        </div>
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="card" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
            <img src="static\img/me.png" alt="John" style="    width: 288px; height: 100%;
            padding: 20px;">
            <h1>Nihal Sarmalkar</h1>
            <p class="title" style=" padding: 10px">Content Creater | Python mentor</p>
            <p style=" padding: 10px">BV(DU)COEP</p>

            <a href="https://www.youtube.com/c/NSTuts"><i class="fa fa-youtube"></i></a>
            <a href="https://www.linkedin.com/in/nihal-sarmalkar"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/NihalSarmalkar"><i class="fa fa-github"></i></a>

        </div>




    </section>
    <hr>



    <section id="contact">
        <div data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
            <h1 class="h-primary">Contact Us</h1>
        </div>

        <div id="contact-box" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000" data-aos-once="true">
            <form action="">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="name" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <h1>Design by - Nihal Sarmalkar</h1>
        <h1>Copyright - 2021</h1>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>
